/* Special tags */
.green-text {
  color: rgb(5, 83, 5);
}

.tab {
  margin: 0 0 0 20px;
}

.doubletab {
  margin: 0 0 0 40px;
}

/* -----------------------Base settings for every subpage----------------------- */
.body {
  background-color: #f5f5f5;
  color: #4d2b36;
  font-family: Montserrat;
  font-weight: 600;
  margin: 0px;
}

.main__heading,
.week__heading,
.section_heading,
.article_heading,
.article__subsection__heading,
.hero {
  color: #3f232c;
  font-variant: small-caps;
  font-weight: bold;
}

.main {
  margin: auto 12%; /* Should be smaller if device width is small */
  min-width: 1000px;
  max-width: 1714px;
}

/* -----------------------Settings for TOP image/text/link----------------------- */
.hero {
  background-image: url("images/top.jpg");
  margin: 0;
  min-height: 500px;
  position: relative;
  background-repeat: no-repeat;
}

/* .hero span <- Previous version (replaced by 6 lines below) */
.hero__title-1,
.hero__title-2,
.hero__description-1,
.hero__description-2,
.hero__description-3,
.hero__description-4 {
  white-space: pre; /* needed to cause hading to copy correctly */
}

.hero__title-1 {
  position: absolute;
  bottom: 257px;
  left: 382px;
  color: white;
  font-size: 50px;
  text-shadow: 3px 3px #235950;
}

.hero__title-2 {
  position: absolute;
  bottom: 229px;
  left: 382px;
  color: #134940;
  font-size: 29px;
  letter-spacing: 0px;
}

.hero__link span {
  color: #f9c802;
}

.hero__link:hover span {
  color: yellow;
}

.hero__description-1 {
  position: absolute;
  bottom: 172px;
  left: 382px;
  color: #f9c802;
  text-shadow: 1px 1px red;
  font-size: 26px;
  letter-spacing: 1px;
}

.hero__description-2 {
  position: absolute;
  bottom: 48px;
  left: 382px;
  text-shadow: 5px 5px red;
  font-size: 127px;
  letter-spacing: 1px;
}

.hero__description-3 {
  position: absolute;
  bottom: 111px;
  left: 680px;
  text-shadow: 3px 3px red;
  font-size: 68px;
  letter-spacing: -2px;
  transform: scaleX(0.8);
}

.hero__description-4 {
  position: absolute;
  bottom: 65px;
  left: 673px;
  text-shadow: 3px 3px red;
  font-size: 49px;
  letter-spacing: -2px;
  transform: scaleX(0.75);
}

/* -----------------------Settings for navigation----------------------- */
.navigation {
  background-color: #f5f5f599;
  backdrop-filter: blur(6px);
  border: 1px solid #3f232c;
  height: 50px;
  width: 100%;
  max-width: 1714px; /* temporary solution for bigger resolution */
  padding: 0px;
  margin: 0px;
  display: inline-block;
  position: sticky;
  top: 0px;
  box-sizing: border-box;
}

.navigation__wrapper {
  display: flex;
  justify-content: flex-end;
}

.navigation__link {
  color: #3f232c;
  text-decoration: none;
  padding: 15px 20px;
}

.navigation__link:hover {
  color: #e66b76;
  border-radius: 20px;
}

/* -----------------------Settings content (for every subpage)----------------------- */
.article,
.article--red {
  border: 1px solid black;
  border-radius: 20px;
  margin: 5px 3%;
  padding: 0px 25px 5px 25px;
}

.article--red {
  border-color: red;
  border-width: 3px;
}

.article__subsection__heading {
  margin-bottom: 15px;
}

.list--green {
  color: rgb(5, 83, 5);
}

.list--green li {
  margin: 5px 0px;
}

/* -----------------------Settings for content (prepared for specific pages)----------------------- */
.main__list {
  list-style: none;
  overflow: hidden;
}

.main__list li {
  float: left;
  padding: 6px;
}

/* This code is offset for anchors 
(so sticky-navigation is not hidding target element) */
.anchorOffset::before {
  content: "";
  display: block;
  height: 50px;
  margin-top: -50px;
  visibility: hidden;
}

.week__heading {
  position: sticky;
  top: 10px;
  display: inline-block;
}

.article__code {
  border: 1px solid black;
  border-radius: 10px;
  padding: 18px 40px;
  display: inline-block;
  margin-left: 30px;
  margin-bottom: 10px;
  letter-spacing: 1px;
}

.article__small-code {
  border: 1px solid black;
  border-radius: 10px;
  padding: 9px 20px;
  display: inline-block;
  margin: 5px;
  letter-spacing: 1px;
}

.article__small-code--block {
  display: block;
}

.article__image {
  border-radius: 20px;
  margin: 15px;
}

/* -----------------------Settings specific for library.html ----------------------- */
.useful-materials {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.article--library {
  width: 28%;
  margin: 10px 0;
}

.article__image--library {
  margin: 15px 0 0 0;
  border: 1px solid gray;
}
.article--special-background {
  background-color: #FFDEE9;
  background-image: linear-gradient(33deg, #FFDEE9 0%, #d8f8f6 100%);
  
}
